@model DealerPortalCRM.ViewModels.AdjustmentViewModel

@{
    ViewBag.Title = "Edit Adjustment";
}

<h2>Edit Adjustment</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.AdjustmentID)
        @Html.HiddenFor(model => model.AdjustmentCreatedDate)
        @Html.HiddenFor(model => model.AdjustmentCreatedByID)

        <div class="form-group">
            <label class="control-label col-md-2">Adjustment Number</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdjustmentNumber)
                @Html.ValidationMessageFor(model => model.AdjustmentNumber)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Adjustment Discount</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdjustmentDiscount)
                @Html.ValidationMessageFor(model => model.AdjustmentDiscount)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Adjustment Type</label>
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.AdjustmentTypeID, new SelectList(Model.liAdjustmentType, "ID", "DisplayName"))
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Active</label>
            <div class="col-md-10">
                @Html.CheckBox("AdjustmentIsActive")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
