@model DealerPortalCRM.ViewModels.TermCapViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create Term Cap</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label class="control-label col-md-2">Min Finance Amount</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TermCapMinFinanceAmt)
                @Html.ValidationMessageFor(model => model.TermCapMinFinanceAmt)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Max Finance Amount</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TermCapMaxFinanceAmt)
                @Html.ValidationMessageFor(model => model.TermCapMaxFinanceAmt)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Adjustment Cap</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TermCapAdjustmentCap)
                @Html.ValidationMessageFor(model => model.TermCapAdjustmentCap)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Adjustment Type</label>
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.AdjustmentTypeID, new SelectList(Model.liAdjustmentType, "ID", "DisplayName"))
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
