@model DealerPortalCRM.ViewModels.StateAdjustmentViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit State Adjustment</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.StateAdjustmentID)
        @Html.HiddenFor(model => model.StateAdjustmentCreatedByID)
        @Html.HiddenFor(model => model.StateAdjustmentCreatedDate)


        <div class="form-group">
            <label class="control-label col-md-2">Discount Adjustment</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.StateAdjustmentDiscountAdj)
                @Html.ValidationMessageFor(model => model.StateAdjustmentDiscountAdj)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">LTV Adjustment</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.StateAdjustmentLTVAdj)
                @Html.ValidationMessageFor(model => model.StateAdjustmentLTVAdj)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Max State APR</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.StateAdjustmentMaxStateAPR)
                @Html.ValidationMessageFor(model => model.StateAdjustmentMaxStateAPR)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Gap Cap</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.StateAdjustmentGapCap)
                @Html.ValidationMessageFor(model => model.StateAdjustmentGapCap)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">State Name</label>
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.StateCodeID, new SelectList(Model.liStateCode, "ID", "Name"))
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
