@model DealerPortalCRM.ViewModels.VehicleMakeModelClassViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details - Vehicle Make Model Class</h2>

<div>

	<hr />
    <dl class="dl-horizontal">


        <dt>
            Vehicle Make
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleMakeTypeDisplayName)
        </dd>

        <dt>
            Vehicle Model
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleModelTypeDisplayName)
        </dd>

        <dt>
            Vehicle Class
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleClassTypeDisplayName)
        </dd>

        <dt>
             Created Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VehicleMakeModelClassCreatedDate)
        </dd>

        <dt>
            Modified Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleMakeModelClassModifiedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VehicleMakeModelClassID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
